[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
matplotlib = "*"
numpy = "*"
mtcnn = "*"
scikit-image = "*"
onnxruntime = "*"
keras = "*"
tensorflow = "*"
fastapi = "*"
uvicorn = "*"
boto3 = "*"
awscli = "*"
scikit-learn = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
